/* @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=Karla:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');




*{
    padding: 0;
    margin: 0;
    
}

html {
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);
}
h1{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 3.125rem;
    line-height: 63px;
    margin-block: 2.5rem;
    color: #3f1111;
    
}
h2{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 48px;
    margin-block: 1.6875rem;
}
h3{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 48px;
    margin-top: 1.6875rem;
}
h4{
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
    margin-top: 1.5rem;
}
p{
    line-height: 26px;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 500;
}
li::marker{
    list-style: none;
}

ul,li{
    list-style: none;

}
li{
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #650F0E;
}
a {
    color: #650F0E;
    font-family: Figtree, Poppins;
    font-weight: 400;
    text-decoration: none;

    font-size: 1rem;
}

/* HEADER */
header{
    background: #FAFAFA;
}


button{
    background: #630000;
    color: white;
    border: none;
    padding: 0.56rem 1.75rem;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);

    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 500;
}

/* NAV SECION */
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding-block: 2rem;
    margin: auto;
    padding-inline: 1rem;
    z-index: 100;
    background: #FAFAFA;
    
}

/* MOBILE  */

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    
    
    appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #650F0E;
	margin: 6px 0px;
	transition: 0.4s;
}
.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
	z-index: 98;
	background-color: #623231;
	padding-top: 120px;
	transition: 0.6s;
    margin-inline: auto;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background: #F4AF30;
    border-radius: 4px;

	color: #FFF;
	text-decoration: none;
}
.mobile-nav .login-btns{
    display: flex;
    gap: 1rem;
}
.mobile-nav a:hover {
	background-color: #24104f;
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}


nav .nav-links{
    display: flex;
    gap: 1.2rem;
    
}
nav > .login-btn {
    display: flex;
    gap: 1rem;
}

/* nav > .login-btns {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
} */
.nav-links li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #650F0E;
    transition: 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}


/* FIRST CONTAINER */
.FAQ   {
    max-width: 1440px;
    margin: auto;
    
}
.FAQ h1,
.answer h2{
    text-align: center;
    color: #650F0E;
}
.FAQs{
    margin-bottom: 3rem;
}
.Faq-info{
    margin-inline: 5%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    max-width: 500px;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    transition: transform 700ms;
    cursor: pointer;

}
.Faq-info:hover{
    transform: translateY(-0.3rem);
}
main .answer{
    background-color: #F4AF30;
}
.faqs-answer{
    max-width: 1440px;
    padding-inline: 5%;
    margin: auto;
    padding-block: 2rem;
    
}
.faqs-answer .answers{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding: 1%;
}
footer{
    
    max-width: 1440px;
    margin: auto;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-block: 6rem;
}
footer .socials{
    display: flex;
    gap: 2rem;
}

footer img{
    cursor: pointer;
}
.more-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1.5rem;
}
@media screen and (max-width: 550px){
    nav .login-btn{
        display: none;
    }
    h1{
        font-size: 1.7rem;
        line-height: 40px;
        max-width: 350px;
        margin-block: 3rem;
        margin-top: 5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.875em;
    }
    h3{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .app-btn{
        font-size: 1em;
    }
    .first-container .app{
        margin: 1rem auto;
    }
    /* Container 2 */
    .container-2{
        padding-block: 2rem;
    }
    .partners{
        margin-inline-start: 1px;
    }
    /* FOOTER */
    footer img[src*='Ella-Logos-02']{
        width: 150px;
    }
   
    footer img[src*='twitter']{
        width: 20px;
    }
    footer img[src*='facebook']{
        width: 20px;
    }
    footer img[src*='instagram']{
        width: 20px;
    }
    footer img[src*='linkedin']{
        width: 20px;
    }
    .footer-info{
        gap: 1rem;
    }
    footer p, 
    footer a{
        font-size: 14px;
    }
    nav{
        position: fixed;
        width: 90%;
        top: 0;
        padding-inline: 5%;
        padding-block: 1rem;
    }
    .first{
        margin-top: 2rem;
    }

}
@media (min-width: 864px){
    nav .hamburger{
        display: none;
    }
    .mobile-nav{
        display: none;
    }

}
@media screen and (max-width: 864px){

    nav .nav-link{
        display: none;
    }
    .Container-1 .transition{
        display: none;
    }
}

