/* @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=Karla:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');




*{
    padding: 0;
    margin: 0;
    
}

html {
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);
}
h1{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 3.125rem;
    line-height: 63px;
    margin-block: 2.5rem;
    color: #ffffff;
    
}
h2{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 48px;
    margin-block: 1.6875rem;
}
h3{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 48px;
    margin-top: 1.6875rem;
}
h4{
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
    margin-top: 1.5rem;
}
p{
    line-height: 26px;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 500;
}
li::marker{
    list-style: none;
}

ul,li{
    list-style: none;

}
li{
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #650F0E;
}
a {
    color: #650F0E;
    font-family: Figtree, Poppins;
    font-weight: 400;
    text-decoration: none;

    font-size: 1rem;
}

/* HEADER */
header{
    background: #ffffff;
}


button{
    background: #630000;
    color: white;
    border: none;
    padding: 0.56rem 1.75rem;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);

    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 500;
}

/* NAV SECION */
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding-block: 2rem;
    margin: auto;
    padding-inline: 1rem;
    z-index: 100;
    background: #ffffff;
    
}

/* MOBILE  */

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    
    
    appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #650F0E;
	margin: 6px 0px;
	transition: 0.4s;
}
.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
	z-index: 98;
	background-color: #623231;
	padding-top: 120px;
	transition: 0.6s;
    margin-inline: auto;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background: #F4AF30;
    border-radius: 4px;

	color: #FFF;
	text-decoration: none;
}
.mobile-nav .login-btns{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mobile-nav a:hover {
	background-color: rgb(11, 10, 13) 11, 15);
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
}


nav .nav-links{
    display: flex;
    gap: 1.2rem;
    
}
nav > .login-btn {
    display: flex;
    gap: 1rem;
}

/* nav > .login-btns {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
} */
.nav-links li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #650F0E;
    transition: 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}

/* PRELOADER */
#preloader{
    background: #ffffff url(Images/another.gif) no-repeat center center;
    height: 100vh;
    background-size: 30%;
    width: 100%;
    position: fixed;
    z-index: 100000;
    overflow: hidden;
}
#preloader h1{
    text-align: center;
    color: #650F0E;
    padding-top: 20%;
    margin: auto;
    font-size: 2rem;
}


/* FIRST CONTAINER */

.first{
    background: linear-gradient(#F4AF30 50%, #650F0E 50%);
}
.Container-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding-inline: 1.5%;
    margin: auto;

}
.first-container{
    max-width: 600px;
}
.first-container > p{
    color: #ffffff;
}
.first-container .re{
    color: #650F0E;
    
    
}
.app{
    
    align-self: flex-end;
}
.app-btn{
    border-radius: 4px;
    background: #F4AF30;
    color: #ffffff;
    width: 100%;
    
}
.first-container .app{
    max-width: 260px;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transition{
    align-self: end;
    max-width: 100%;
}

.transitions{
    width: 250px;
    height: 250px;
    border: 0px solid #ffffff;
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
}
img[src*='Open-chat']{
    -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;
}


@-webkit-keyframes circle{
    
    0%{
        transform: rotate(0deg)translate(-165px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(-165px)rotate(-360deg);
    }
}
/* CONTAINER-2 */

/* FOR LOGO ANIMATION */
.partners #logos{
    white-space: nowrap;
    overflow: hidden;
}
#logos:hover .trusted-img{
    animation-play-state: paused;
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.partners{
    margin-inline-start: 10%;
}
.trusted-img{
    display: inline-block;
    animation: 7s slide infinite linear;
}
.trusted-img img{
    margin: 0 30px;
}


.abt-ellamediate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 5rem;
    gap: 50px;
}
.container-2{
    max-width: 1440px;
    padding-block: 6rem;
    padding-inline: 4%;
    margin: auto;

}
.ella-1{
    background: url(Images/img1.svg)no-repeat;
    max-width: 459px;
    
}
.ella-1 h2{
    font-weight: 600;
    font-size: 2.5rem ;
    line-height: 52px;
    letter-spacing: 0.2px;
    


    padding-inline: 10%;
    padding-block: 65% 10%;
    /* padding: 20% 57px 103px 44px; */

    color: #FAFAFA;

}

.ella-2{
    background: url(Images/img4.svg)no-repeat;
    max-width: 459px;
    
}
.ella-2 h2{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 52px;
    letter-spacing: 0.2px;
    
    padding-inline: 10%;
    padding-block: 55% 20%;
    /* padding: 275px 57px 103px 44px; */

    color: #FAFAFA;

}
.ella-3{
    background: url(Images/img2.svg)no-repeat;
    max-width: 459px;
    
}
.ella-3 h2{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 52px;
    letter-spacing: 0.2px;

    padding-inline: 10%;
    padding-block: 60% 8%;
    /* padding: 275px 57px 103px 44px; */

    color: #FAFAFA;

}
.ella-4{
    background: url(Images/img3.svg)no-repeat;
    max-width: 459px;
    
}
.ella-4 h2{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 52px;
    letter-spacing: 0.2px;

    padding-inline: 10%;
    padding-block: 60% 8%;
    /* padding: 275px 57px 103px 44px; */

    color: #FAFAFA;

}

/* CONTAINER -3  */

.container-3{
    background: linear-gradient(to right, #650F0E 50%,  #FAFAFA 50%);
    
}
.container-3-item{
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;

}
.container-3-items-l{
    background: #F4AF30;
    padding: 50px 50px;
}
.container-3-items-l > h2{
    color: #FAFAFA;
    font-size: 2rem;
    margin-block: 0px;
}
.container-3-items-r img{
    max-width: 100%;
    height: auto;
    
}


.div > h3{
    max-width: 500px;
    color: #650F0E;
    margin-top: 0px;
}
.container-3-items-l .div{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.location-info{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: space-evenly;
    gap: .7rem;
    margin: auto;
    padding-inline: 4%;
}
.location{
    max-width: 300px;
    background: #f8f0e1;
    border-radius: 4px;
    padding-inline: 1%;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    margin-block: 3rem;
}
.location p{
    margin: .7rem;
}

/* FOOTER */
footer{
    
    max-width: 1440px;
    margin: auto;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-block: 6rem;
}
footer .socials{
    display: flex;
    gap: 2rem;
}

footer img{
    cursor: pointer;
}
.more-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1.5rem;
}
@media screen and (max-width: 550px){
    nav .login-btn{
        display: none;
    }
    h1{
        font-size: 2rem;
        line-height: 40px;
        max-width: 350px;
        margin-block: 3rem;
    }
    .container-3-items-l h2{
        font-size: 1.5rem;

    }
    h3{
        font-size: 1rem;
    }
    .ella-1 h2,
    .ella-2 h2,
    .ella-3 h2,
    .ella-4 h2{
        font-size: 2rem;
    }
    p{
        font-size: 1em;
    }
    .app-btn{
        font-size: 1em;
    }
    .first-container .app{
        margin: 1rem auto;
    }
    /* Container 2 */
    .container-2{
        padding-block: 2rem;
    }
    .partners{
        margin-inline-start: 1px;
    }
    footer p, 
    footer a{
        font-size: 14px;
    }
    nav{
        position: fixed;
        width: 90%;
        top: 0;
        padding-inline: 5%;
        padding-block: 1rem;
    }
    .location{
        padding-block: 0.5rem;
    }
    img[src*='Ella-Logos-02']{
        width: 180px;
    }
    img[src*='twitter'],
    img[src*='instagram'],
    img[src*='facebook'],
    img[src*='linkedin']{
        width: 20px;
        height: 20px;
    }
    .first{
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }

}
@media (min-width: 864px){
    nav .hamburger{
        display: none;
    }
    .mobile-nav{
        display: none;
    }

}
@media screen and (max-width: 864px){

    nav .nav-link{
        display: none;
    }
    .Container-1 .transition{
        display: none;
    }
}

