/* @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=Karla:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');




*{
    padding: 0;
    margin: 0;
    
}

html {
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);
}
h1{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 3.125rem;
    line-height: 63px;
    margin-block: 2.5rem;
    color: #ffffff;
    
}
h2{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 48px;
    margin-block: 1.6875rem;
}
h3{
    font-family: 'Source Sans Pro', Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 48px;
    margin-top: 1.6875rem;
}
h4{
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
    margin-top: 1.5rem;
}
p{
    line-height: 26px;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 500;
}
li::marker{
    list-style: none;
}

ul,li{
    list-style: none;

}
li{
    font-family: 'Source Sans Pro', Poppins;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #650F0E;
}
a {
    color: #650F0E;
    font-family: Figtree, Poppins;
    font-weight: 400;
    text-decoration: none;

    font-size: 1.2rem;
}

/* HEADER */


button{
    background: #630000;
    color: white;
    border: none;
    padding: 0.56rem 1.75rem;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);

    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 500;
}

/* NAV SECION */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding-block: 2rem;
    margin: auto;
    padding-inline: 1rem;
}

nav .nav-links{
    display: flex;
    gap: 1.2rem;
    
}
nav > .login-btn {
    display: flex;
    gap: 2rem;
}
.nav-links li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #650F0E;
    transition: 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}


/* FIRST CONTAINER */
.first{
    background: linear-gradient(#F4AF30 50%, #650F0E 50%);
}
.Container-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding-inline: 3rem;
    margin: auto;

}
.first-container{
    max-width: 600px;
}
.first-container > p{
    color: #ffffff;
}
.first-container .re{
    color: #650F0E;
    
    
}
.app-btn{
    border-radius: 4px;
    background: #F4AF30;
    color: #ffffff;
    width: 100%;
    
}
.first-container .app{
    max-width: 260px;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transitions{
    width: 250px;
    height: 250px;
    border: 0px solid #ffffff;
    position: absolute;
    top: 400px;
    border-radius: 50%;
}
img[src*='Open-chat']{
    -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;
}


@-webkit-keyframes circle{
    
    0%{
        transform: rotate(0deg)translate(-165px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(-165px)rotate(-360deg);
    }
}
/* CONTAINER-2 */


.partners{
    margin-inline-start: 5rem;
}
.trusted-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.abt-ellamediate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 5rem;
    gap: 50px;
}
.container-2{
    max-width: 1440px;
    padding-block: 6rem;
    padding-inline: 7.75rem;
    margin: auto;

}
.ella-1{
    background: url(Images/img1.svg)no-repeat;
    max-width: 459px;
    
}
.ella-1 h2{
    font-weight: 600;
    font-size: 2.5rem !important;
    line-height: 52px;
    letter-spacing: 0.2px;
    
    padding: 275px 57px 103px 44px;

    color: #FAFAFA;

}

.ella-2{
    background: url(Images/img4.svg)no-repeat;
    max-width: 459px;
    
}
.ella-2 h2{
    font-weight: 600;
    font-size: 2.5rem !important;
    line-height: 52px;
    letter-spacing: 0.2px;
    
    padding: 275px 57px 103px 44px;

    color: #FAFAFA;

}
.ella-3{
    background: url(Images/img2.svg)no-repeat;
    max-width: 459px;
    
}
.ella-3 h2{
    font-weight: 600;
    font-size: 2.5rem !important;
    line-height: 52px;
    letter-spacing: 0.2px;
    padding: 275px 57px 103px 44px;

    color: #FAFAFA;

}
.ella-4{
    background: url(Images/img3.svg)no-repeat;
    max-width: 459px;
    
}
.ella-4 h2{
    font-weight: 600;
    font-size: 2.5rem !important;
    line-height: 52px;
    letter-spacing: 0.2px;
    padding: 275px 57px 103px 44px;

    color: #FAFAFA;

}

/* CONTAINER -3  */

.container-3{
    background: linear-gradient(to right, #650F0E 50%,  #FAFAFA 50%);
    
}
.container-3-item{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}
.container-3-items-l{
    background: #F4AF30;
    padding: 50px 50px;
}
.container-3-items-l > h2{
    color: #FAFAFA;
    font-size: 2rem;
    margin-block: 0px;
}


.div > h3{
    max-width: 500px;
    color: #650F0E;
    margin-top: 0px;
}
.container-3-items-l .div{
    display: flex;
    align-items: center;
    gap: .5rem;
}
footer{
    
    max-width: 1440px;
    margin: auto;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-block: 6rem;
}
footer .socials{
    display: flex;
    gap: 2rem;
}
footer img{
    cursor: pointer;
}
.more-info {
    display: flex;

    gap: 1.5rem;
}